@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        font-Family:'Raleway', sans-serif;
    }
}

#git {
    margin-right: 110px;
    padding-top: 20px;
}

#git>a>img {
    width: 30px;
}

#git>a>img:hover {
    width: 35px;
    color: blue;
    background-color: blue;
}

#live {
    margin-left: 80px;
    padding-top: 20px;
}

#live>a {
    color: #fff;
}

#live>a:hover {
    font-weight: bold;
    color: blue;
    text-decoration: underline;
    font-size: 20px;
}

#github-stats {
    padding: 100px 10px 10px 10px;
    /* border: 1px solid; */
    margin-top: -10%;
    margin-bottom: -100px;
    /* height: 400px; */
}

.github-stats-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin-top: 50px;
    grid-gap: 40px;
}

.github-stat {
    border-radius: 10px;
    /* position: relative; */
    overflow: hidden;
    cursor: pointer;
}

.github-stat img {
    width: 120%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    padding: 10px 30px;
}

.layer h3 {
    font-weight: 700;
    margin-bottom: 20px;
}

.container {
    text-align: center;
}

.github-st .title::after {
    content: "see my work";
}

.github-stat:hover img {
    transform: scale(1.1);
}

@media (max-width: 690px) {
    .github-stat {
        width: 300px;
        font-size: 8px;
    }
    .github-stat {
        width: 100%;
        font-size: 8px;
    }
    .container {
        text-align: center;
    }
    .cont-box-1>img {
        width: 45px;
        height: 45px;
    }
    .github-stat>img {
        margin: 0 auto;
        width: 100%;
        margin-top: 20px;
    }
    .github-stats-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        margin-top: 50px;
        grid-gap: 40px;
    }
}

@media (max-width: 500px) {
    .github-stat {
        width: 100%;
        font-size: 8px;
    }
    .github-stat>img {
        margin: 0 auto;
        width: 100%;
        margin-top: 20px;
    }
    .github-stats-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        margin-top: 50px;
        grid-gap: 40px;
    }
}